@use '../base/variables' as v;
@use '../base/mixins' as m;


#pag07 {
    overflow: hidden;
    position: relative;
    @include m.grid(2, 0);
    display: flex;
    height: 30rem;

    @include m.telefono {
        @include m.grid(1, 0);
    }

    #conversacion {
        overflow: hidden;
        position: relative;
        width: 40%;
        height: 100%;
        background: v.$azul2;
        padding: 2rem 2rem 0 2rem;

        @include m.tablet {
            width: 90%;
            height: 32rem;
        }

        @include m.telefono {
            width: 100%;
            height: 25rem;
        }

    }

    #entrevista {
        overflow: hidden;
        position: relative;
        width: 100%;
        background: v.$azulRey;
        @include m.resaltar(v.$blanco, 400);
        padding: 2rem 2rem 0 5rem;

        h2 {
            padding: 2rem 2rem 4rem 2rem;
        }
    }
}

#pag07-2 {
    display: flex;
    justify-content: space-between;
    align-items: start;
    gap: 2rem;
    background: v.$azulPastel;
    padding: 2rem;

    @include m.escritorio {
        flex-direction: column;
    }

    @include m.telefono {
        background: v.$colorFuente;
        height: auto;
    }

    #contenido-personaje06 {
        width: 20%;
        display: flex;
        justify-content: start;
        align-items: start;
        flex-direction: column;

        @include m.escritorio {
            width: 100%;
            flex-direction: row;
            align-items: center;
            gap: 2rem;
        }

        #globo {
            @include m.globoNegro(arriba);
        }
    }

    #cont-blanco {
        background: v.$blanco;
        padding: 2rem;
        border-radius: 2rem;
        width: 75%;
        height: 40rem;
        gap: 2rem;
        display: flex;
        justify-content: space-between;
        align-items: start;

        @include m.escritorio {
            width: 100%;
        }

        @include m.telefono {
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: auto;
        }

        .cuadros07 {
            display: none;
            opacity: 0;
            transition: all .3s ease;
        }

        .btn01 {

            width: 50%;

            @include m.telefono {
                width: 80%
            }

            #btn-seguros {

                a {
                    @include m.botonesPag07(v.$amarillo);
                    color: v.$colorFuente;
                }
            }

            #info-seguros {
                background: v.$amarilloPag07;
                margin-top: 2rem;
                padding: 2rem;


                &.cuadros_activos {
                    display: block;
                    opacity: 1;
                }
            }
        }

        .btn02 {

            width: 50%;

            @include m.telefono {
                width: 80%
            }

            #btn-reaseguradora {
                overflow: hidden;

                a {
                    @include m.botonesPag07(v.$azulRey);
                }
            }

            #info-reaseguradora {
                background: v.$azulPag07;
                margin-top: 2rem;
                padding: 2rem;

                &.cuadros_activos {
                    display: block;
                    opacity: 1;
                }
            }
        }

    }
}