@use '../base/variables' as v;
@use '../base/mixins' as m;


#cont-pag16 {
    @include m.grid(2, 0);

    @include m.escritorio {
        @include m.grid(1, 0);
    }

    #cont-izquierda {

        #cont-img {
            @include m.grid(2, 1rem);
            background: v.$azul2;

            #globo1 {

                padding: 1rem;

                p {
                    @include m.globoNegro(izquierda);
                }
            }
        }

        #cont-gris-06 {
            background: v.$grisClaro;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 2rem;

            #globo2 {
                @include m.globo(v.$vino, arriba);
                @include m.resaltar(v.$blanco, 500);
            }
        }
    }

    #cont-derecha {

        #cont-vino {
            display: flex;
            text-align: center;
            align-items: center;
            background: v.$vino;
            padding: 2rem;
            color: v.$blanco;
            height: 30%;

            @include m.escritorio {
                height: auto;
            }
        }

        #clic-pag16 {
            display: flex;
            justify-content: center;
            align-items: center;
            background: v.$azulClaro1;
            height: 40%;
            padding: 1rem;
            gap: 2rem;

            @include m.escritorio {
                height: auto;
            }
        }

        #botones {
            height: 30%;
            padding: 2rem;

            @include m.escritorio {
                height: auto;
            }

            h3 {
                text-align: center;
            }

            .flex {
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 2rem;
                margin-top: 2rem;
                flex-wrap: wrap;

                #btn-aseguradora {
                    width: 40%;

                    @include m.escritorioHD {
                        width: 80%;
                    }

                    a {
                        @include m.botones(v.$azulRey);
                    }
                }

                #btn-reaseguradora {
                    width: 40%;

                    @include m.escritorioHD {
                        width: 80%;
                    }

                    a {
                        @include m.botones(v.$verde);
                    }
                }
            }
        }
    }
}

#cards-pag16 {

    @include m.tablet {
        margin-top: 1rem;
    }

    .mapa-pag16 {
        display: none;
        opacity: 0;
        transition: all .3s ease;
    }

    #aseguradora {
        @include m.conceptual(v.$azulRey);
        margin-top: 2rem;

        &.cuadros_activos {
            display: block;
            opacity: 1;
        }
    }

    #reaseguradora {
        @include m.conceptual(v.$verde);
        margin-top: 2rem;

        &.cuadros_activos {
            display: block;
            opacity: 1;
        }
    }
}